* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #74ebd5, #acb6e5);
}

.container {
  text-align: center;
  background: rgba(255,255,255,0.2);
  padding: 25px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  width: 300px;
  color: #000;
}

.search {
  margin: 15px 0;
}

input {
  padding: 10px;
  width: 70%;
  border: none;
  border-radius: 8px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #333;
  color: white;
}

.card {
  display: none;
  margin-top: 15px;
}

img {
  width: 80px;
}
#suggestions {
  background: white;
  border-radius: 8px;
  margin-top: 5px;
  text-align: left;
  max-height: 150px;
  overflow-y: auto;
}

.suggestion {
  padding: 8px;
  cursor: pointer;
}

.suggestion:hover {
  background: #eee;
}